<% layout("/layouts/boilerplate") %>
<!-- <%= success %> -->
    <body>
        <!-- <h3>All Listings</h3> -->
        <!-- <form method="get" action="/listings/new">
        <button>Create New Listing</button>
    </form> -->
    <style>
        #filters{
            display: flex;
            flex-wrap: wrap;
            align-items: center;
        }
        .filter{
            text-align: center;
            margin-right: 2rem;
            margin-top: 2rem;
            opacity: 0.7;
            text-decoration: none;
            color: inherit;
        }
        .filter:hover{
            opacity: 1;
            cursor: pointer;
        }
        .active-filter {
            opacity: 1;
            border-bottom: 2px solid black;
        }
        .tax-info {
            display: none;
        }
        .tax-toggle{
            border: 1px solid black;
            border-radius: 1rem;
            height: 3.25rem;
            padding: 1rem;
            margin-left: 3rem;
            display: flex;
            align-items: center;
        }
    </style>
    <div id="filters">
<div id="filters">
        <% 
        const filters = [
            { name: "Trending", icon: "fa-fire" },
            { name: "Rooms", icon: "fa-bed" },
            { name: "Iconic Cities", icon: "fa-mountain-city" },
            { name: "Mountains", icon: "fa-mountain" },
            { name: "Castles", icon: "fa-chess-rook" },
            { name: "Amazing Pools", icon: "fa-person-swimming" },
            { name: "Camping", icon: "fa-campground" },
            { name: "Farms", icon: "fa-cow" },
            { name: "Arctic", icon: "fa-snowflake" },
            { name: "Boats", icon: "fa-ship" }
        ];
        %>

        <% for(let f of filters) { %>
            <a href="/listings?category=<%= f.name %>" 
               class="filter <%= currCategory === f.name ? 'active-filter' : '' %>">
                <div><i class="fa-solid <%= f.icon %>"></i></div>
                <p><%= f.name %></p>
            </a>
        <% } %>

        <div class="tax-toggle">
            <div class="form-check-reverse form-switch">
                <input class="form-check-input" type="checkbox"
                 role="switch" id="flexSwitchCheckDefault">
                <label class="form-check-label" for="flexSwitchCheckDefault"
                >Display total after taxes</label>
            </div>
        </div>
    </div>
        <div class="row row-cols-lg-3 row-cols-md-2 row-cols-sm-1">
            <% for(let listing of allListings){ %>
                <a href="/listings/<%=listing._id%>" class="listing-link">
                    <div class="card col listing-card" style="width: 20rem;">
                        <img src="<%=listing.image.url%>" class="card-img-top" alt="listing_img" style="height: 20rem;">
                        <div class="card-img-overlay"></div>
                            <div class="card-body">
                                <p class="card-text">
                                    <b>
                                        <%= listing.title %>
                                    </b><br>
                                    &#8377; <%= listing.price.toLocaleString("en-IN") %> / night
                                    <i class="tax-info"> &nbsp; &nbsp;+18GST</i>
                                </p>
                            </div>
                    </div>
                </a>
                <% } %>
        </div>

        <script>
            let taxSwitch = document.getElementById("flexSwitchCheckDefault");
            taxSwitch.addEventListener("click", () => {
                let taxInfo = document.getElementsByClassName("tax-info");
                for(info of taxInfo){
                    if(info.style.display != "inline"){
                        info.style.display = "inline";
                    }else{
                        info.style.display = "none";
                    }
                }
            });
        </script>